


*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clear:after {
	content:" ";
	clear: both;
	display: block;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
}
header {
	text-align: center;
}

h1{
	color: #191919;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	line-height: 2em;
	margin: 2em;
	display: block;
}

h3{
	color: #191919;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	/*line-height: 1.5em;*/

}

#project-intro{
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	margin: 2em 4em 2em 4em;
	line-height: 1.5em;
}

#tiles {
	width: 100%;
}

.tile-box {
	width: 33.333%;
	float: left;
	padding: 20px;
}

.tile-box-inner {
	border: 2px solid #000;
}


.tile-header {
	padding-top: 10px;
}

.about-headline{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
	line-height: 1.5em;
	letter-spacing: .03em;
	text-align: center;
	margin-top: 5em;

}
#about {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.about-subhead{
	font-family: 'Open Sans', sans-serif;
    font-size: 30px;
	line-height: 1.5em;
	letter-spacing: .05em;
	text-align: center;
	margin-top: 1em;
}
.about-text{
	display: block;
	line-height: 1.5em;
	text-align: center;
	margin-top: 2em;
}
footer {
	display: block;
   margin-top: 6em;
   margin-bottom: 2em;
}
.footer-icons {
    width: 50%;
    float: left;
    vertical-align: middle;
}
.footer-text {
	width: 50%;
    float: left;
    vertical-align: bottom;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
	line-height: 1.5em;
	letter-spacing: .05em;
}

.footer-subhead {
	display: block;
    margin-left: 0px;
    margin-right: 6em;
}
.footer-email {
	display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 0;
    font-size: 30px;
    line-height: 1.5em;
}

