
/* SIMPLE RESET*/
*, 
*:before, 
*:after {     
	margin: 0;     
	padding: 0;     
	-moz-box-sizing: border-box;     
	-webkit-box-sizing: border-box;     
	box-sizing: border-box; 
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #00000;
}
header{
	margin: 0 auto;
	text-align: center;
}
h1{
	color: #191919;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	line-height: 3em;
}
#slogan{
	font-style: italic;
	text-align: center;
	line-height: 2em;
}
.project-title{
	text-align: center;
}
.project-item{
	border: 4px solid black;
	display: inline-block;
	text-align: center;
}
#about{
	text-align: left;
	
}
.about-details{
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	font-weight: bold;
}
.footer-icons{
	display: inline-block;
	text-align: center;
	align-items: center;
}
