body{
	text-align: center;
	font-family: Avenir;
	font-size: 14px;
	color: #00000;
	background-image: url("images/new_year_background.png");
}
h1{
	color: #191919;
}
#slogan{
	font-style: italic;
}
.proj_heading{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.sub_heading{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}